global
  maxconn 512

defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend mysql
  bind *:3306
  default_backend mysql-primary-first

backend mysql-primary-first
  option tcp-check
  server primary mysql-primary:3306 check
  server replica mysql-replica:3306 check backup
